.Aboutcard {
    font-family: Arial, sans-serif;
    width: 200px;
    height: 462px;
}
  
  
  .text {
    font-size: 16px;
    font-weight: 500;
    color: #737373;
    text-align: center;
    margin-bottom: 87px;
  }
  
  .Image {
    border-radius: 50%;
    width: 200px;
    height: 197px;

  }

  .usertitle{
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    text-align: center;
    padding-bottom: 20px;
  }
  
  
  .cardtitle {
    font-size: 24px;
    color: #2091F9;
    font-weight: 600;
    text-align: center;
    padding-top: 71px;
    padding-bottom: 10px;
    margin: 0;
  }