.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    width: 335px;
    height: 358px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-10px); 
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
}
  
  .stars {
    margin-bottom: 40px;
  }
  
  .star {
    color: #ddd;
    font-size: 29px;
  }
  
  .filled {
    color: #ffc107; /* Yulduzlarni sariq rangga bo'yash */
  }
  
  .text {
    font-size: 16px;
    font-weight: 500;
    color: #737373;
    margin-bottom: 40px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: bold;
    color: #737373;
    margin: 0;
  }
  
  .user-title {
    font-size: 16px;
    color: #252B42;
    font-weight: 600;
    margin: 0;
  }